:root {
   /* - height ----- */
   --height-header: 50px;
   --height-cnv-mobile: 352px;
   --height-slider_item: 275px;
   --height-slider_padding: 35px;
   --height-icon: 20px;

   /* - width ----- */
   --width-block-desktop: 1200px;
}
