:root {
   /* - bg ----- */
   --bg-primary-color: #f1f1f1;
   --bg-primary-color-light: #f2f2f2;
   --bg-primary-color-dark: #4c4c4c;
   --bg-primary-color-navbar-accent: #3f3e3e;
   /* --bg-primary-color-dark: #353535; */
   --bg-primary-grey: #68676c;
   --bg-primary-button-color-dark: #2a2a2a;
   --bg-primary-card: #dedddd;

   --bg-modal: rgba(0, 0, 0, 0.584);

   --color-red: #df0923;
   --color-text-light: #fff;
   --color-text-accent: #474747;
   --color-title: #000;
   --color-text-dark: #333;
   --color-text-description: #333;
   --color-card-border: #d9d9de;
   --color-btn-border: #bebec2;
}
