:root {
   --font-mul: 'Mulish';
   --font-int: 'Inter';

   --font-12: 12px;
   --font-14: 14px;
   --font-16: 16px;
   --font-18: 18px;
   --font-20: 20px;
   --font-22: 22px;
   --font-24: 24px;
   --font-28: 28px;
   --font-30: 30px;

   --font-weight-norm: 400;
   --font-weight-medium: 500;
   --font-weight-bold: 700;
   --font-weight-black: 900;

   --font-mul-30: var(--font-30) var(--font-mul);
   --font-mul-28: var(--font-28) var(--font-mul);
   --font-mul-24: var(--font-24) var(--font-mul);
   --font-mul-22: var(--font-22) var(--font-mul);
   --font-mul-18: var(--font-18) var(--font-mul);
   --font-mul-16: var(--font-16) var(--font-mul);

   --font-int-28: var(--font-28) var(--font-int);
   --font-int-22: var(--font-22) var(--font-int);
   --font-int-18: var(--font-18) var(--font-int);
   --font-int-16: var(--font-16) var(--font-int);
   --font-int-14: var(--font-14) var(--font-int);
   --font-int-12: var(--font-12) var(--font-int);
}
