:root {
   /* - height ----- */
   --height-header: 142px;
   --height-cnv-mobile: 352px;
   --height-slider_item: 275px;
   --height-icon: 20px;
   --height-btn-card: 40px;

   /* - width ----- */
   --width-block-desktop: 1200px;

   /* - padding ----- */
   --slider_padding: 30px;

   /* - gap ----- */
   --marquee-gap: 50px;
}
