.marquee {
   position: relative;
   display: flex;
   overflow: hidden;
   user-select: none;
   gap: var(--marquee-gap);
   background: var(--color-red);
   padding: 5px 0;
   border-top: 2px solid var(--bg-primary-grey);
   border-bottom: 2px solid var(--bg-primary-grey);
   width: 100%;
}

.marquee__content {
   flex-shrink: 0;
   display: flex;
   justify-content: space-around;
   gap: var(--marquee-gap);
   min-width: 100%;
   animation: scroll 50s linear infinite;
}

.marquee__content-item {
   font-family: var(--font-mul);
   color: white;
   font-size: 16px;
   font-weight: 700;
}

@keyframes scroll {
   from {
      transform: translateX(0);
   }
   to {
      transform: translateX(calc(-100% - var(--marquee-gap)));
   }
}

@media (max-width: 1100px) {
   .marquee {
      gap: var(--marquee-gap-note);
      padding: 5px 0;
   }

   .marquee__content {
      gap: var(--marquee-gap-note);
   }

   .marquee__content-item {
      font-size: 14px;
   }
}

@media (max-width: 750px) {
   .marquee__content-item {
      font-size: 13px;
   }
}
