@media (max-width: 1250px) {
   .slider {
      width: 90%;
   }

   .slider-item {
      height: var(--height-slider_item-note);
   }

   .slider-item__container {
      padding: var(--slider_padding-note);
      gap: unset;
   }

   .slider-item__title {
      position: absolute;
      width: max-content;
      font-size: var(--font-20);
   }

   .slider-item__description {
      margin-top: 35px;
      font-size: var(--font-15);
   }

   .slider-item__image {
      width: 110px;
      height: 110px;
   }

   .slider-item__btn {
      width: 140px;
      height: var(--height-btn-card-note);
      font-size: var(--font-14);
   }

   .slider__arrows {
      top: calc((var(--height-slider_item-note) - var(--height-icon)) / 2);
   }
}

@media (max-width: 800px) {
   .slider {
      width: 92%;
   }

   .slider-item {
      height: var(--height-slider_item-pad);
   }

   .slider-item__container {
      padding: var(--slider_padding-pad);
   }

   .slider-item__title {
      font-size: var(--font-18);
   }

   .slider-item__description {
      font-size: var(--font-14);
   }

   .slider-item__image {
      width: 80px;
      height: 80px;
   }

   .slider-item__btn {
      width: 130px;
      height: var(--height-btn-card-pad);
      font-size: var(--font-13);
   }

   .slider__arrows {
      left: -3%;
      top: calc((var(--height-slider_item-pad) - var(--height-icon)) / 2);
      width: 106%;
   }
}

@media (max-width: 750px) {
   .slider {
      width: 94%;
   }

   .slider-item {
      width: 100%;
      height: var(--height-slider_item-mobile);
   }

   .slider-item__container {
      padding: 18px var(--slider_padding-pad);
   }

   .slider-item__description {
      margin-top: 30px;
   }

   .slider__arrows_inactive {
      display: none;
   }
}
