@import url(../../styles/variables/colors.css);
@import url(../../styles/variables/sizes.css);
@import url(../../styles/variables/fonts.css);
@import url(../../styles/variables/z-index.css);
@import url(../../styles/reset.css);
@import url(../../assets/fonts/fonts.css);

@import url(../../styles/app.css);
@import url(../../styles/main.css);

/* === logo ==============*/
@import url(../../blocks/logo/logo.css);

/* === diller ==============*/
@import url(../../blocks/diller/diller.css);

/* === nav-links ==============*/
@import url(../../blocks/nav-links/nav-links.css);

/* === header ==============*/
@import url(../../blocks/header/header.css);
@import url(../../blocks/navbar/navbar.css);

.errors {
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 200px;
   background: var(--bg-primary-card);
}

.errors__text {
   font: var(--font-int-28);
   color: var(--color-red);
}

.errors__link {
   font: var(--font-int-16);
   color: var(--color-text-dark);
   cursor: pointer;
}

@media (max-width: 1250px) {
   .errors {
      gap: 150px;
   }

   .errors__text {
      width: var(--width-block-mobile);
      text-align: center;
   }
}

@media (max-width: 800px) {
   .errors {
      gap: 120px;
   }
}

@media (max-width: 750px) {
   .errors {
      gap: 70px;
   }

   .errors__text {
      font: var(--font-int-22-bold);
   }

   .errors__link {
      font: var(--font-int-14);
   }
}
