.pagination {
   padding-top: 20px;
   display: none;
   gap: 10px;
}
.pagination_active {
   display: flex;
}

.pagination__container {
   display: flex;
   justify-content: center;
   gap: 10px;
}

.pagination__btn {
   width: 36px;
   height: 36px;
   font: var(--font-int-16-medium);
   background-color: transparent;
   color: var(--color-red);
   border: 1px solid var(--color-btn-border);
   cursor: pointer;
}

.pagination__btn-arrow {
   background-image: url(../../../assets/icons/arrow-red.svg);
   background-size: 60% 60%;
   background-repeat: no-repeat;
   background-position: center;
   pointer-events: all;
}

.pagination__btn-arrow_inactive {
   opacity: 0.2;
   pointer-events: none;
}

.pagination__btn-arrow-left {
   transform: rotate(180deg);
}

.pagination__btn_active {
   background-color: var(--color-red);
   color: var(--bg-primary-color-light);
}

.pagination__arrow-top-page {
   display: none;
   position: fixed;
   bottom: 25px;
   right: 20px;
   width: 25px;
   height: 25px;
   background: no-repeat center/19px
      url(../../../assets/icons/arrow-pagination.svg);
   background-color: var(--bg-primary-color-navbar-accent);
   transform: rotate(-90deg);
   z-index: 100;
}

.pagination__arrow-top-page_active {
   display: block;
}

@media (max-width: 750px) {
   .pagination {
      gap: 8px;
   }

   .pagination__container {
      gap: 8px;
   }

   .pagination__btn {
      width: 26px;
      height: 26px;
      font: var(--font-int-13-medium);
   }
}
