.catalog-block {
   width: var(--width-block-desktop);
   display: flex;
   flex-direction: column;
   overflow: auto;
   height: auto;
   position: relative;
}

.catalog-block_inactive {
   height: 0;
   overflow: hidden;
   margin: 0;
}

.catalog-block__title {
   font: var(--font-mul-30-bold);
   margin-bottom: 35px;
   text-transform: uppercase;
}

.catalog-block__list {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   gap: 15px;
}

.catalog__description {
   display: none;
   color: var(--color-text-description);
   font: var(--font-int-16-medium);
   line-height: 20px;
}
.catalog__description_active {
   display: block;
}

.catalog__description-title {
   margin: 40px 0 25px;
   font: var(--font-mul-28);
   text-transform: uppercase;
}

.catalog__description-h4 {
   margin-top: 20px;
   font: var(--font-mul-18-bold);
}
.catalog__description-p {
   margin-top: 15px;
}

.catalog__gap-p {
   display: inline-block;
   width: 8px;
}
.catalog__description-p:nth-of-type(1) {
   margin-top: 0;
}

.catalog__description-ul {
   margin-top: 20px;
   margin-bottom: 2px;
}
.catalog__description-li {
   margin-left: 10px;
   margin-bottom: 2px;
}
.catalog__description-span-select {
   font-weight: var(--font-weight-bold);
}
