@media (max-width: 1250px) {
   .catalog-block {
      width: var(--width-block-mobile);
   }

   .catalog-block__title {
      font: var(--font-mul-26-bold);
      margin-bottom: 25px;
   }

   .catalog-block__list {
      gap: 15px;
   }

   .catalog__description-title {
      margin: 40px 0 20px;
      font: var(--font-mul-24);
   }
}

@media (max-width: 800px) {
   .catalog-block__title {
      font: var(--font-mul-20);
      margin-bottom: 20px;
   }

   .catalog-block__list {
      gap: 10px;
   }

   .catalog__description-title {
      font: var(--font-mul-20-bold);
   }

   .catalog__description-h4 {
      font: var(--font-mul-18-black);
   }
}

@media (max-width: 750px) {
   .catalog-block__title {
      margin-bottom: 15px;
   }

   .catalog-block__list {
      gap: 5px;
   }

   .catalog__description {
      width: var(--width-block-mobile);
      margin: 0 auto;
   }

   .catalog__description-title {
      margin: 20px 0 10px;
      font: var(--font-mul-18-bold);
   }

   .catalog__description-h4 {
      margin-top: 15px;
      font: var(--font-mul-18-bold);
   }
   .catalog__description-p {
      margin-top: 10px;
   }
   .catalog__description-p:nth-of-type(1) {
      margin-top: 0;
   }

   .catalog__description-ul {
      margin-top: 15px;
      margin-bottom: 2px;
   }
}
