@media (max-width: 1100px) {
   .footer {
      padding-top: 20px;
   }

   .footer::before {
      top: 70px;
   }

   .footer::after {
      top: 90px;
   }

   .footer__container {
      width: var(--width-block-mobile);
   }

   .footer__container-logo {
      margin-bottom: 25px;
   }

   .footer__phone {
      font: var(--font-int-20-bold);
   }

   .footer__links-info {
      width: var(--width-block-mobile);
   }

   .footer__link_type_politic {
      color: rgb(251, 51, 51);
   }

   .footer__date {
      width: var(--width-block-mobile);
   }
}

@media (max-width: 800px) {
   .footer {
      padding-top: 20px;
   }

   .footer::before {
      top: 60px;
   }

   .footer::after {
      top: 80px;
   }

   .footer__container {
      width: var(--width-block-mobile);
   }

   .footer__container-logo {
      margin-bottom: 25px;
   }

   .footer__phone {
      font: var(--font-int-18-bold);
   }

   .footer__links-info {
      width: var(--width-block-mobile);
   }

   .footer__schedule {
      font: var(--font-int-12-norm);
      width: 150px;
      height: auto;
   }

   .footer__link_type_politic {
      width: 110px;
      color: rgb(251, 51, 51);
   }
}

@media (max-width: 750px) {
   .footer {
      padding-top: 15px;
      position: relative;
      overflow: hidden;
   }

   .footer::before {
      top: 50px;
   }

   .footer::after {
      top: 70px;
   }

   .footer__container {
      width: var(--width-block-mobile);
   }

   .footer__container-logo {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
   }

   .footer__diller {
      position: absolute;
      width: fit-content;
      right: calc(35% - 100px);
      top: 80px;
      height: 45px;
      gap: 10px;
      padding-bottom: 15px;
   }

   .footer__diller-line {
      display: block;
      position: absolute;
      width: var(--width-block-mobile);
      right: calc((100vw - var(--width-block-mobile)) / 2);
      top: 125px;
      border-bottom: 1px solid var(--bg-primary-grey);
   }

   .footer__diller-icon {
      width: 100px;
   }

   .footer__phone {
      font: var(--font-int-16-bold);
   }

   .footer__links-info-container {
      width: 100%;
      padding-top: 75px;
      padding-bottom: 15px;
   }

   .footer__links-info {
      width: var(--width-block-mobile);
      height: 150px;
      display: grid;
      align-items: start;
      grid-template-columns: repeat(3, 115px);
      grid-template-rows: repeat(2, 1fr);
      font: var(--font-int-12-medium);
      padding-bottom: 10px;
      border-bottom: 1px solid var(--bg-primary-grey);
      gap: 16px 15px;
   }

   .footer__schedule {
      grid-row: span 2;
      width: 100px;
      height: auto;
      line-height: 16px;
      font: var(--font-int-11-norm);
   }

   .footer__links-column {
      display: flex;
      flex-direction: column;
      gap: 16px;
      height: auto;
   }

   .footer__links-column:nth-of-type(3) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      grid-column: span 2;
      width: 183px;
      height: auto;
   }

   .footer__link {
      line-height: 16px;
   }

   .footer__link_type_politic {
      position: absolute;
      text-align: center;
      width: var(--width-block-mobile);
      bottom: 55px;
      left: calc((100vw - var(--width-block-mobile)) / 2);
   }
}

@media (max-width: 400px) {
   .footer__diller {
      top: 78px;
      height: 40px;
      justify-content: center;
   }

   .footer__diller-info {
      font: var(--font-int-12-bold);
   }

   .footer__diller-icon {
      width: 80px;
   }

   .footer__diller-line {
      top: 120px;
   }
}

@media (max-width: 360px) {
   .footer::before {
      top: 55px;
      height: 15px;
   }

   .footer::after {
      top: 70px;
      height: 15px;
   }

   .footer__phone {
      font: var(--font-int-14-bold);
   }

   .footer__links-info-container {
      padding-top: 60px;
   }

   .footer__links-info {
      width: 80%;
      height: 160px;
      grid-template-columns: 115px 100px;
      gap: 16px;
   }

   .footer__schedule {
      display: none;
   }

   .footer__links-column {
      gap: 16px;
   }

   .footer__links-column:nth-of-type(3) {
      width: 81.5%;
   }
}
