.diller {
   display: flex;
   height: 28px;
   align-items: flex-end;
   margin-top: 3px;
}

.diller__info {
   display: flex;
   align-items: flex-end;
   font: var(--font-int-18-bold);
}

.diller__link {
   height: 100%;
}

.diller__icon {
   width: 90px;
   height: 100%;
}

@media (max-width: 800px) {
   .diller {
      height: 24px;
      margin-top: 3px;
   }

   .diller__info {
      font: var(--font-int-14-bold);
   }

   .diller__icon {
      width: 80px;
   }
}

@media (max-width: 750px) {
   .diller {
      display: none;
   }
}
