.logo {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   background-color: transparent;
   width: 170px;
   height: 100%;
   font-family: var(--font-int);
   font-weight: 900;
   color: var(--color-text-accent);
}

.logo__container {
   width: 98%;
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
}

.logo__icon {
   width: 25px;
   height: 25px;
}

.logo__text {
   font-size: 10px;
   letter-spacing: 1.3px;
   margin-bottom: 2px;
}

.logo__name {
   font-size: 16px;
   letter-spacing: 0.7px;
}
