.logo {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: transparent;
   padding: 0 12px;
   width: 190px;
   height: 100%;
   font-family: var(--font-int);
   font-weight: 900;
   color: var(--color-text-accent);
}

.logo__container {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo__icon {
   width: 30px;
   height: 30px;
}

.logo__text {
   font-size: 10px;
   letter-spacing: 1px;
}

.logo__name {
   font-size: 16px;
   letter-spacing: 0.4px;
}
