.product {
   display: none;
   width: var(--width-block-desktop);
   padding-bottom: 40px;
}

.product_active {
   display: block;
}

.product__title {
   font: var(--font-title-30);
   font-weight: var(--font-weight-bold);
   text-transform: uppercase;
   margin-bottom: 40px;
}

.product__container {
   width: 100%;
}

.product__image {
   display: block;
   width: 590px;
   height: 590px;
   background-color: var(--bg-primary-card);
   cursor: pointer;
   float: left;
   margin-right: 40px;
   margin-bottom: 40px;
   position: relative;
}

.product__image-add {
   display: none;
   height: 90px;
   width: 90px;
   border: 1px solid var(--color-red);
   cursor: pointer;
}

.product__image_inactive {
   display: none;
}

.product__image-no-img::after {
   content: 'Изображение временно отсутствует';
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   font: var(--font-title-18);
   background-color: var(--bg-primary-card);
}

.product__image-add_active {
   display: block;
}

.modal__image {
   width: 590px;
   height: 590px;
   transition: 0.3s;
}

.product__info {
   display: flex;
   gap: 30px;
   margin-bottom: 78px;
}

.product__btn {
   width: 200px;
   height: var(--height-btn-card);
   font: var(--font-int-14);
   background-color: var(--color-red);
   color: var(--color-text-light);
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 20px;
   cursor: pointer;
}

.product__description {
   color: var(--color-text-description);
}

.product__description_inactive {
   display: none;
}

.product__description-title {
   font: var(--font-title-28);
   text-transform: uppercase;
   margin-bottom: 30px;
}

.product__description-p {
   font: var(--font-int-18);
   line-height: 30px;
   font-weight: var(--font-weight-medium);
   margin-top: 25px;
}

.product__description-p:nth-of-type(1) {
   margin-top: 0;
}

/* меняет фон в галереи */
.lg-backdrop {
   background-color: var(--bg-overlay) !important;
}
