.product {
   width: 100vw;
   height: 0;
   background-color: var(--bg-primary-color);
   z-index: 99;
   overflow-y: auto;
}

.product__container {
   width: var(--width-block-desktop);
   padding-bottom: 40px;
   margin: 0 auto;
}

.product_active {
   height: auto;
}

.product__title {
   font: var(--font-mul-30-bold);
   text-transform: uppercase;
   margin-bottom: 40px;
}

.product__container-info {
   width: 100%;
}

.product__image {
   display: block;
   width: 590px;
   background-color: var(--bg-primary-card);
   cursor: pointer;
   float: left;
   margin-right: 40px;
   margin-bottom: 40px;
   position: relative;
}

.product__image-add {
   display: none;
   width: 90px;
   border: 1px solid var(--color-red);
   cursor: pointer;
}

.product__image_inactive {
   display: none;
}

.product__image-no-img {
   padding: 200px 160px;
}

.product__image-add_active {
   display: block;
}

.modal__image {
   width: 100%;
   transition: 0.3s;
}

.product__info {
   display: flex;
   gap: 30px;
   margin-bottom: 78px;
}

.product__btn {
   width: 200px;
   height: var(--height-btn-card);
   font: var(--font-int-14);
   background-color: var(--color-red);
   color: var(--color-text-light);
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}

.product__description {
   color: var(--color-text-description);
}

.product__description-title {
   font: var(--font-mul-28);
   text-transform: uppercase;
   margin-bottom: 30px;
}

.product__description-h4 {
   margin-top: 20px;
   font: var(--font-mul-20-bold);
}

.product__description-p {
   font: var(--font-int-18-medium);
   line-height: 30px;
   margin-top: 25px;
}

.product__description-p:nth-of-type(1) {
   margin-top: 0;
}

/* меняет фон в галереи */
.lg-backdrop {
   background-color: var(--bg-overlay) !important;
}
