.app {
   min-height: 100vh;
   width: 100vw;
   background-color: var(--bg-primary-color);
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
}

.main {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: var(--height-header);
}

.main__observer {
   height: 0;
}

.app__own {
   margin: 100px;
}
