.politic {
   width: var(--width-block-desktop);
}

.politic__title {
   font: var(--font-mul-30);
   text-transform: uppercase;
   margin-bottom: 35px;
}

.politic__subtitle {
   font: var(--font-int-16-medium);
}

.potitic__title-block {
   font: var(--font-mul-18-bold);
   margin: 50px 0 15px;
}

.politic__text {
   font: var(--font-int-16-medium);
   margin-bottom: 15px;
}

.politic__text-link {
   color: var(--color-red);
}

@media (max-width: 1250px) {
   .politic {
      width: var(--width-block-mobile);
   }

   .politic__title {
      font: var(--font-mul-26-bold);
      margin-bottom: 25px;
   }

   .potitic__title-block {
      margin: 30px 0 15px;
   }
}

@media (max-width: 800px) {
   .politic__title {
      font: var(--font-mul-22);
      margin-bottom: 20px;
   }

   .potitic__title-block {
      font: var(--font-mul-16-bold);
      margin: 25px 0 15px;
   }

   .politic__text {
      margin-bottom: 10px;
   }
}

@media (max-width: 400px) {
   .politic__title {
      margin-bottom: 10px;
   }

   .potitic__title-block {
      margin: 15px 0 10px;
   }
}
