.checkbox {
   position: relative;
   padding-left: 25px;
   display: block;
}

.checkbox [type='checkbox']:not(:checked),
.checkbox [type='checkbox']:checked {
   position: absolute;
   left: -9999px;
}

.checkbox [type='checkbox']:not(:checked) + label:before,
.checkbox [type='checkbox']:checked + label:before {
   content: '';
   position: absolute;
   left: 0;
   top: 8px;
   width: 16px;
   height: 16px;
   border: 1px solid var(--main-elements-color);
   background: var(--white-color);
}

.checkbox [type='checkbox']:not(:checked) + label:after,
.checkbox [type='checkbox']:checked + label:after {
   content: '';
   position: absolute;
   top: 8px;
   left: 0;
   width: 16px;
   height: 16px;
   background: var(--main-elements-color) url(../../assets/icons/checkmark.svg)
      50% 50% no-repeat;
   transition: all 0.2s;
   opacity: 1;
   -webkit-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
}

.checkbox [type='checkbox']:not(:checked) + label:after {
   opacity: 0;
   -webkit-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
}

.form__text-link {
   display: inline-block;
   font: var(--font-int-12);
   color: var(--color-red);
   height: 100%;
   padding-left: 5px;
}

@media (max-width: 750px) {
   .form__text-link {
      display: inline-block;
      font: var(--font-int-11-norm);
      color: var(--color-red);
      height: 100%;
      padding-left: 5px;
   }
}
