@media (max-width: 1250px) {
   .modal-call__content {
      width: 500px;
   }
}

@media (max-width: 800px) {
   .modal-call__content {
      width: 450px;
   }
}

@media (max-width: 750px) {
   .modal-call__content {
      width: 300px;
      padding: 50px 20px 30px;
   }

   .modal-call__close-btn {
      top: 20px;
      right: 20px;
      width: 20px;
      height: 20px;
   }

   .modal-call__image {
      width: 150px;
      height: 150px;
   }

   .modal-call__title {
      font: var(--font-mul-18-black);
   }

   .modal-call__phones {
      font: var(--font-mul-20-black);
      line-height: 34px;
      text-align: center;
   }

   .modal-call__subtitle {
      font: var(--font-int-16-bold);
      line-height: 24px;
   }

   /* .modal-call__subtitle-product {
      font: var(--font-int-14-bold);
   }

   .form {
      font: var(--font-int-14);
   }

   .form__input {
      margin-bottom: 15px;
   } */
}
