.card-catalog {
   width: 390px;
   height: 280px;
   background-color: var(--bg-primary-card);
   padding: 30px;
   position: relative;
   cursor: pointer;
}

.card-catalog__title {
   width: 215px;
   font: var(--font-mul-18);
   text-transform: uppercase;
}

.card-catalog__image {
   position: absolute;
   top: 65px;
   right: 30px;
}

@media (max-width: 1250px) {
   .card-catalog {
      width: 49%;
      height: 200px;
      padding: 30px;
   }

   .card-catalog__title {
      width: 215px;
      font: var(--font-mul-18);
   }

   .card-catalog__image {
      top: 30px;
      right: 30px;
      height: 70%;
   }
}

@media (max-width: 800px) {
   .card-catalog {
      width: 49%;
      height: 170px;
   }

   .card-catalog__title {
      width: 60%;
      font: var(--font-mul-15);
   }

   .card-catalog__image {
      top: 30px;
      right: 30px;
      height: 60%;
   }
}

@media (max-width: 750px) {
   .card-catalog__title {
      width: 100%;
      font: var(--font-mul-13-bold);
   }

   .card-catalog__image {
      bottom: 12px;
      top: auto;
      right: 12px;
      height: 50%;
   }
}

@media (max-width: 500px) {
   .card-catalog {
      width: 49%;
      height: 140px;
      padding: 12px;
   }

   .card-catalog__title {
      width: 100%;
      font: var(--font-mul-11-bold);
   }

   .card-catalog__image {
      bottom: 12px;
      top: auto;
      right: 12px;
      height: 50%;
   }
}

@media (max-width: 340px) {
   .card-catalog__title {
      font: var(--font-mul-10-bold);
   }
}
