.card-catalog {
   width: 390px;
   height: 280px;
   background-color: var(--bg-primary-card);
   padding: 30px;
   position: relative;
   cursor: pointer;
}

.card-catalog__title {
   width: 215px;
   font: var(--font-mul-18);
   text-transform: uppercase;
}

.card-catalog__image {
   position: absolute;
   top: 65px;
   right: 30px;
}
