.contacts {
   width: 100%;
   padding: 100px 0;
}

.contacts__title {
   font: var(--font-mul-30);
   font-weight: var(--font-weight-medium);
   text-transform: uppercase;
   margin-bottom: 60px;
}

.contacts__container {
   width: var(--width-block-desktop);
   height: 370px;
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
}

.contacts__info-container {
   width: 580px;
   height: 100%;
   background: var(--bg-primary-color-navbar-accent);
   position: relative;
}
.contacts__info-container::after {
   content: '';
   position: absolute;
   width: 150px;
   height: 40px;
   background-color: var(--color-red);
   right: 200px;
   bottom: 0;
}

.contacts__info {
   width: 100%;
   height: 100%;
   padding: 40px;
   color: var(--color-text-light);
   position: absolute;
   top: 0;
   left: 0;
   z-index: 3;
}
.contacts__info::before {
   content: '';
   position: absolute;
   width: 150px;
   height: 80px;
   background-color: var(--color-red);
   right: 50px;
   bottom: 40px;
   z-index: -1;
}

.contacts__info-title {
   font: var(--font-mul-22);
   margin-bottom: 35px;
}

.contacts__text-container {
   margin-bottom: 20px;
   padding-left: 40px;
   background-repeat: no-repeat;
   background-size: 18px 18px;
   background-position: 3px 3px;
   z-index: 1000;
}
.contacts__text-container > span {
   font: var(--font-int-16);
}

.contacts__text-container_type_phone {
   background-image: url(../../assets/icons/icon-phone.svg);
}
.contacts__text-container_type_email {
   background-image: url(../../assets/icons/icon-email.svg);
}
.contacts__text-container_type_address {
   background-image: url(../../assets/icons/icon-address.svg);
   margin-bottom: 0;
}
.contacts__schedule {
   width: 385px;
   margin-top: 10px;
   font: var(--font-int-14);
   line-height: 24px;
   margin-bottom: 20px;
   margin-left: 40px;
}

.contacts__map {
   overflow: hidden;
   width: 580px;
   height: 100%;
   border: 1px solid var(--color-btn-border);
}

.ymaps3--hint-title {
   font-family: var(--font-int);
}
.ymaps3x0--control__background {
   background-color: transparent !important;
   box-shadow: none !important;
}
.ymaps3x0--button {
   box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.245) !important;
   width: 30px !important;
   height: 30px !important;
   padding: 3px !important;
   border-radius: 0 !important;
}
.ymaps3--zoom-control {
   gap: 5px;
}
