@media (max-width: 1250px) {
   .bread-crumbs {
      width: var(--width-block-mobile);
      height: var(--height-bread-crumbs-note);
   }
}

@media (max-width: 800px) {
   .bread-crumbs {
      height: var(--height-bread-crumbs-pad);
   }

   .bread-crumbs__list {
      gap: 10px;
      height: 16px;
   }

   .bread-crumbs__item {
      gap: 10px;
   }

   .bread-crumbs__arrow {
      width: 16px;
      height: 16px;
   }

   .bread-crumbs__link {
      font: var(--font-int-13-bold);
      letter-spacing: 0.3px;
   }
}

@media (max-width: 750px) {
   .bread-crumbs {
      height: var(--height-bread-crumbs-mobile);
   }

   .bread-crumbs__list {
      gap: 6px;
      height: 11px;
   }

   .bread-crumbs__item {
      gap: 6px;
   }

   .bread-crumbs__arrow {
      width: 6px;
      height: 11px;
   }

   .bread-crumbs__link {
      font: var(--font-int-10-bold);
      line-height: 11px;
   }
}
